.row-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
    gap: 30px;
    /* border: 1px solid black;  */
    border-radius: 10px;
    font-size: 24px; /* Adjust the value as needed */
    background-color: #ffd8a9;
    height: 40px;
    width: 70%;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 15px;
}

.trip{
    margin-right: 30px;
    width: 250px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1f222c;
}

.checkbox {
    cursor: pointer;
    border: none; /* Remove the border */
    border-radius: 50%; /* Make the button a circle */
    width: 32px; /* Increase the width to make the button larger */
    height: 32px; /* Increase the height to make the button larger */
    font-size: 24px; /* Adjust the value as needed */
    background-color: transparent;
    margin-right: 20px
}

.todo {
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
    color: #1f222c;
}

.page-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #1f222c;
  margin-top: 15px;
}

.trip-header {
    width: 300px;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #1f222c;
  }

  .del-header {
      width: 100px;
      text-decoration: underline;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 26px;
      color: #1f222c;
    }

  .date-header {
    width: 250px;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #1f222c;
  }