.trip-name {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

.header-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px; 
    gap: 180px;
    border-radius: 10px;
    font-size: 28px; /* Adjust the value as needed */
    margin-top: 140px;
}

.todo2 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-s;
    width: 40%;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
  }

.owner{
    display: flex;
    flex-direction: row; 
    justify-content: flex-s;
    width: 30%;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
}

.table-container1 {
    margin-bottom: 10px;
    height: 300px;
    overflow: auto;
}

.row-container1 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    margin: 10px; 
    gap: 30px;
    /* border: 1px solid black;  */
    border-radius: 10px;
    font-size: 24px; /* Adjust the value as needed */
    background-color: rgba(241, 119, 59, 0.42);
    height: 40px;
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 15px;
    margin-left: calc(25% - (35% / 2)); /* Center on left 1/3 line */
}

.header-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    gap: 180px;
    border-radius: 10px;
    font-size: 30px; /* Adjust the value as needed */
    margin-top: 140px;
}

.pin {
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    width: 300px;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
  }

.place {
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    width: 300px;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
}

.table-container2 {
    margin-bottom: 120px;
}

.row-container2 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    margin: 10px; 
    gap: 180px;
    /* border: 1px solid black;  */
    border-radius: 10px;
    font-size: 30px; /* Adjust the value as needed */
    background-color: rgba(241, 119, 59, 0.42);
    height: 60px;
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 20px;
    margin-right: calc(25% - (35% / 2)); /* Center on left 1/3 line */
}

.completeBtn {
    margin-left: 5%;
    border-radius: 50%; /* Make the button a circle */
    width: 30px; /* Increase the width to make the button larger */
    height: 30px; /* Increase the height to make the button larger */
    border: none; /* Remove the border */
    font-size: 24px; /* Adjust the value as needed */
    background-color: transparent
}

.trip-lists {
    display: flex;
}

.trip-list {
    width: 50%;
}

.formLI {
    list-style-type: none;
}

.notes-btn {
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
    width: 300px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 24px; /* Adjust the value as needed */
    background-color: rgba(241, 119, 59, 0.42);
}

.to-do-btn {
position: absolute;
    left: 28%;
    transform: translateX(-50%);
    width: 300px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 24px; /* Adjust the value as needed */
    background-color: rgba(241, 119, 59, 0.42);
}



.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.modal-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(9,9,9,0.5);
    backdrop-filter: blur(20px);
}

.modal-background {
    position: fixed;
    background-color: rgba(9,9,9,0.5);
    backdrop-filter: blur(20px);
    z-index: 3;
    width: 100%;
    height: 100%;
}